<% 
  require 'disqus'
  Disqus::defaults[:account] = 'scharfie' 
  Disqus::defaults[:show_powered_by] = false
%>

<% result = blog_engine %>
<%= partial :header %>

<div id="articles">
  <div class="wrap">
    <%= result %>
  </div>  
</div>

<div id="sidebar">
  <div class="wrap clearfix">
<%
=begin
%>    
    <div class="module"><%= content_for :about %></div>  
<%
=end
%>
    <div class="module"><%= partial :recent %></div>
    <div class="module"><%= partial :archives %></div>
    <%#= disqus_recent_comments %>
  </div>
</div>
<%= disqus_comment_counts %>

<%= partial :footer %>