<div class="article">
  <%= article_tools(article) %>
  <div class="header">
    <h2><span class="date"><%= article_date(article, ':day :amonth') %></span><%= article_link article %></h2>
    <span class="stamp"><%= article_date article %></span>
  </div>
  <div class="body">
    <%= article.body_html %>
  </div>
  <div class="footer">
    <%#= article_link article, :text => pluralize(article_comments(article).length, 'comment').gsub(/^0/, 'No'), :anchor => 'comments' %>
    <%= article_link article, :text => 'View comments', :anchor => 'disqus_thread'  %>
    &mdash;
    <%= article_link article, :text => 'Permalink'  %>
  </div>
  
  <% if periodical_by_slug? %>
    <% title article.name %>
    <script type="text/javascript" charset="utf-8">
      var disqus_title = "<%= article.name %>"
      var disqus_url   = "<%= 'http://scharfie.com' / periodical_path(article) %>"
    </script>
    <div class="comments">
      <%= disqus_thread %>
      <%#= partial 'comments', :locals => { :article => article } %>
      <%#= partial 'new_comment', :locals => { :article => article } %>
    </div>  
  <% end %>  
</div>