<html>
<head>
  <link rel="stylesheet" href="<%= theme_path %>/stylesheets/core2.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <%= auto_discovery_link_tag :rss, '/articles.rss', :title => 'Articles' %>
  <%= auto_discovery_link_tag :rss, 'http://disqus.com/forums/scharfie/comments.rss', :title => 'Comments' %>
  <title><%= ['scharfie.com', title].reject(&:blank?).join(' | ') %></title>
  <%= support_files %>
</head>
<body>
<%= support_toolbar %>
<div id="container">
  <div id="header">
    <div class="wrap clearfix">
      <h1 id="logo"><a href="/">scharfie<span>.com</span></a></h1>
      <div id="intro">
        <%= content_for :intro %>
      </div>  
    </div>
  </div>