<% 
  require 'disqus'
  Disqus::defaults[:account] = 'scharfie' 
  Disqus::defaults[:show_powered_by] = false
%>

<% result = blog_engine %>
<%= partial :header %>

<div id="articles">
  <div class="wrap">
    <%= result %>
  </div>  
</div>

<div id="sidebar">
  <div class="wrap clearfix">
    <div class="module"><%= partial :recent_articles %></div>
    <div class="module"><%= partial :archives %></div>
  </div>
</div>
<%= disqus_comment_counts %>

<%= partial :footer %>